<div class="container">

  <div class="row col-xs-12">
    <div class="h3">Please Authenticate</div>
    <hr>
  </div>

  <form (ngSubmit)="onAuthenticate()" #f="ngForm">
    <div class="row col-md-10">
      <div class="col-md-4">
        <div class="row">
          <label for="email" class="h4">E-Mail</label>
        </div>
        <div class="row">
          <input type="text" class="form-group" name="email" placeholder="enter email address">
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <label for="password" class="h4">Password</label>
        </div>
        <div class="row">
          <input type="password" class="form-group" name="passowrd" placeholder="enter passowrd">
        </div>
      </div>
    </div>

    <div class="row col-xs-12">
      <hr>
      <button style="width:160px" class="btn btn-primary">Login</button>
      <span style="width:45px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button style="width:160px" class="btn btn-primary">Switch to Sign-up</button>
    </div>
  </form>

</div>
